.DS_Store
*.db
*.log
*.pyc
/*.komodoproject
/*.log
/.travis/generated_*.js
/config/django_secret.txt
/config/lti_oauth_credentials.txt
/data/exercises/txt/*
/data/exercises/ly/*
/docs/jsdoc/out/*
/harmony/static/js/build/*
/static/*
