[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
certifi = "==2022.12.07"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
Django = "==2.2.28"
django-better-admin-arrayfield = "==1.3.0"
django-bootstrap-modal-forms = "==2.0.0"
django-bootstrap4 = "==2.2.0"
django-braces = "==1.13.0"
django-ckeditor = "==5.9.0"
django-extensions = "==3.0.5"
django-filter = "==21.1"
django-import-export = "==2.7.1"
django-nested-admin = "==3.3.2"
django-prettyjson = "==0.4.1"
django-tables2 = "==2.3.1"
django-widget-tweaks = "==1.4.8"
gunicorn = "==20.0.4"
idna = "==2.10"

lxml = "==4.9.1"
oauthlib = "==3.1.0"
psycopg2-binary = "==2.8.6"
pytz = "==2020.1"
requests = "==2.26.0"
requests-oauthlib = "==1.3.0"
sentry-sdk = "==1.3.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
standardjson = "==0.3.1"
urllib3 = "==1.26.6"
whitenoise = "==5.1.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true


