# Base requirements
Django==2.2.13
django-braces==1.13.0   # Django view mixins
gunicorn==20.0.4        # Python WSGI server
whitenoise==5.1.0       # Python WSGI static files

# Additional requirements
# Required for LTI authentication
git+https://github.com/Harvard-University-iCommons/django-auth-lti.git@v2.0.2#egg=django-auth-lti
lti>=0.9.4
