:root {
    /*--primary-color: #424141;*/
    --primary-color: #335271;
    --secondary-color: #00693e;
    --link-color: #ffa00f;
    --background-color: #e2e2e2;
}

body {
    background-color: var(--background-color);
}

.dashboard-page {
    padding-top: 20px
}

.dashboard-page p, form label {
    color: var(--primary-color);
}

.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

.sidenav-subhead, .sidenav a {
    padding: 6px 8px 4px 8px;
    text-decoration: none;
    font-size: 14px;
    color: var(--link-color);
    display: block;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 6px;
}

.sidenav-active {
    border-left: 6px solid var(--link-color);
    color: white !important;
}

.sidenav a:hover {
    background-color: var(--link-color);
    color: white;
}

.sidenav-header {
    color: white;
    /*background-color: #9d162e;*/
    padding: 16px 8px 8px 8px;
    margin: 0px;
    text-align: left;
    font-size: 16px;
    font-style: normal;
}

.sidenav-subhead {
    color: white;
    margin: 30px 6px 0px 0px;
    border: 2px solid #999;
    border-radius: 6px;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
    font-size: 14px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: revert;
    border-radius: 0.1rem;
}

.header-add {
    color:var(--primary-color);
    padding-top: 20px;
    padding-left: 0px;
    font-size: 1.15rem;
}

.paleblue td a:link, .paleblue td a:visited {
    color: var(--link-color) !important;
}

.paleblue tr.odd td {
    background-color: #f7f7f7;
}

nav {
    margin-top: 12px;
}

.dashboard-btn {
    color: var(--primary-color);
    background-color: white;
    font-size: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.dashboard-btn:hover {
    color: var(--link-color);
    border-color: var(--link-color);
}

.invalid-feedback {
    /*width: auto;*/
}

.form-control.is-invalid {
    border-color: var(--link-color);
}

.invalid-feedback p {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#id_keyboard_size {
    background-color: white;
}

input[type=checkbox] {
    width: 12px;
    height: 12px;
}

.help-text {
    color: var(--primary-color);
    padding-left: 10px;
}

.page-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px !important;
}


.page-link {
    color: var(--primary-color) !important;
}

.active {
    color: white !important;
}

.column {
    float: left !important;
    margin-left: 5px !important;
}

.left, .right {
    width: 10% !important;
}

.middle {
    width: 50% !important;
}

.row {
    margin-top: 20px;
}

.form-check {
    padding-left: 0px;
}

.radioselect {
    float: left !important;
    margin-right: 50px;
}

.radioselect ul{
    height: unset !important;
    background-color: unset !important;
    border: unset !important;
    padding: 0px;
    margin: 0px !important;
    list-style: none;
    font-size: 14px;
}

ul li input{
    margin-right: 10px;
    height: 20px !important;
}

form label{
    width: 150px;
    justify-content: flex-start !important;
    padding-right: 10px;
}

.radioselect > div{
    align-items: baseline;
}

.radioselect ul label{
    display: inline;
}

.btn {
    margin-bottom: 1px !important;
}
