/* Styling for m2m widget */

.widget-option-wrapper {
  display: inline-flex;
  gap: 6px;
}

.widget-value-list {
  padding-top: 8px;
  max-height: 256px;
  padding-bottom: 4px;
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  box-shadow: inset 0 -10px 10px -10px #000000;
}

.widget-value-list-inner {
  display: flex;
  gap: 8px;
  max-height: 256px;
  overflow: scroll;
  flex-direction: column;
}

.widget-value-block {
  min-width: 128px;
  height: 24px;
  background-color: #ccc;
  padding: 4px 12px;
  border-radius: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.block-draggable {
  cursor: grab;
}

.widget-value-new {
  background-color: #eee;
}

.widget-value-remove {
  cursor: pointer;
  width: 2rem;
  height: 100%;
  text-align: center;
}

.widget-value-order {
  width: 2rem;
}

.widget-select {
  overflow: scroll;
  height: 6em;
  background-color: #fff;
  width: 256px;
}

.widget-option {
  padding: 4px 2px;
  cursor: pointer;
}

.widget-option:hover {
  background-color: #ddd;
}
