{% extends "__base.html" %}

{% block js_extra %}
    <script>require(['app/main']);</script>
{% endblock %}

{% block title %}Login{% endblock %}


{% block content %}
    {% if request.session.just_signed_up %}
        <div id="raw-password-bar" class="regular closable">
            <div class="hb-content-wrapper">
                <div class="hb-text-wrapper">
                    <div class="hb-headline-text" style="background-color: #34ce57">
                        <p><span>Successfully signed up.</span></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <form method="post" id="login-div">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Login</button>
    </form>
    <div style="padding-top:16px;margin:0 auto;max-width:512px;display:flex;flex-direction:column;gap:12px">
        <div style="color:white;">NOTICE: Due to updates to make the site more secure, your old password may no longer work. Click the link below to set a new one.</div>
        <a style="color:white;font-weight:bold" href={% url "reset-password" %}>FORGOT PASSWORD?</a>
        <a style="color:white;font-weight:bold" href={% url "registration" %}>REGISTER</a>
    </div>
{% endblock %}
