{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ STATIC_URL }}css/ionicons-needed.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/harmony.css" type="text/css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}site.webmanifest">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
    {% block css_extra %}{% endblock %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script><!-- apps/dashboard/static -->
    {% block extrahead %}{% endblock %}
</head>
<body>

{% block sidebar %}
    <div class="sidenav">
        {% with url_name=request.resolver_match.url_name %}
            <p class="sidenav-header">ANALYTIC PIANO</p>
            <a href="{% if home_url %}{{ home_url }}{% else %}{% url 'lab:index' %}{% endif %}">Play</a>
            <a {% if url_name == 'index'%}class="sidenav-active"{%endif%} href="{% url 'dashboard:index' %}" >Dashboard Home</a>
             <a href="{% url 'custom-logout' %}">Log Out</a>
            <p class="sidenav-subhead">PRACTICE</p>
            <a {% if url_name == 'subscriptions-courses' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:subscriptions-courses' %}">Available Courses</a>
            <a {% if url_name == 'performed-playlists' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:performed-playlists' %}">My Activity</a>
            <a {% if url_name == 'preferences' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:preferences' %}">Settings</a>
            <p class="sidenav-subhead">CONNECT</p>
            <a {% if url_name == 'subscriptions' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:subscriptions' %}">With Creators</a>
            <a {% if url_name == 'subscribers' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:subscribers' %}">With Performers</a>
            <a {% if url_name == 'groups-list' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:groups-list' %}">Manage Performer Groups</a>
            <p class="sidenav-subhead">CREATE</p>
            <a {% if url_name == 'courses-list' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:courses-list' %}">Courses</a>
            <a {% if url_name == 'playlists-list' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:playlists-list' %}">Playlists</a>
            <a {% if url_name == 'exercises-list' %}class="sidenav-active"{% endif %}
               href="{% url 'dashboard:exercises-list' %}">Exercises</a>
        {% endwith %}
    </div>
{% endblock %}

<div class="main">
    {% block content %}{% endblock %}
</div>
{% block js_require %}
    {#    {% autoescape off %}#}
    {#        <script src="{{ STATIC_URL }}js/lib/require.js"></script>#}
    {#        <script>requirejs.config({enforceDefine: true, waitSeconds: 0});</script>#}
    {#        <script>requirejs.config({{ requirejs.config_json }});</script>#}
    {#        <script>window.appStaticUrl = '{{ STATIC_URL }}';</script>#}
    {#        {% if requirejs.debug %}#}
    {#            <script>requirejs.config({'urlArgs': 't=' + (new Date().getTime())});</script>{% endif %}#}
    {#    {% endautoescape %}#}

{% endblock %}

{% block js_extra %}{% endblock %}

</body>
</html>
