{% extends "dashboard/base.html" %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% load i18n %}
{% block content %}
    {% block add-button %}
    {% endblock %}
    <div class="dashboard-page">
        {% if subscriber_name %}
            <p>Activity report for {{ subscriber_name }}</p>
        {% endif %}
        {% if course_author %}
            <p>Courses authored by {{ course_author }}</p>
        {% endif %}
        {% if course_name %}
            <p>Activity report for {{ course_name }}</p>
        {% endif %}
        {% include 'django_tables2/bootstrap4.html' with table=table %}
    </div>
{% endblock content %}
