{% extends "dashboard/base.html" %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% load i18n %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    
    <div class="dashboard-page">
        {% if subscriber_name %}
            <h1>My Activity</h1>
            <p class="dashboard-tip">Review your most recent activity, organized by playlist.</p>
        {% endif %}
        {% if courses_author %}
            {% if courses_author == me %}
                <h1>Create Courses</h1>
            {% else %}
                <p>Courses authored by {{ courses_author }}</p>
            {% endif %}
        {% endif %}
        {% if playlists_author %}
            {% if playlists_author == me %}
                <h1>Create Playlists</h1>
            {% else %}
                <p>Playlists authored by {{ playlists_author }}</p>
            {% endif %}
        {% endif %}
        {% if exercises_author %}
            {% if exercises_author == me %}
                <h1>Create Exercises</h1>
            {% else %}
                <p>Exercises authored by {{ exercises_author }}</p>
            {% endif %}
        {% endif %}
        {% if course_name %}
            <h1>Course Activity</h1>
            <p>Activity report for course: {{ course_name }}</p>
        {% endif %}
        {% if groups_author %}
            {% if groups_author == me %}
                <h1>Manage Performer Groups</h1>
            {% else %}
                <p>Groups for user: {{ groups_author }}</p>
            {% endif %}
        {% endif %}
        {% block add-button %}
        {% endblock %}
        {% block filters %}{% endblock %}
        {% include 'django_tables2/bootstrap4.html' with table=table %}
    </div>
    
{% endblock content %}
