{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="col-sm-4">
        <div class="form-check form-group form-inline {{ field|widget_type }}">
            {% if field.field.required %}<strong>{{ field.label_tag }}</strong>{% else %}{{ field.label_tag }}{% endif %}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field|add_class:'form-control' class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            <strong><span style="color: red">{{ error }}</span></strong>
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field|add_class:'form-control' class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field|add_class:'form-control' class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
{% endfor %}
