{% extends "dashboard/base-content-list.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/sumoselect.css" type="text/css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/lib/jquery.sumoselect.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#id_groups').SumoSelect(
                {
                    'placeholder': 'Select Group(s)',
                    'selectAll': true,
                    'search': true,
                    'okCancelInMulti': true
                });
        })
        $(document).ready(()=>{
            // This disables the "Select All" button on the filter, remove this code to bring it back
            $('p.select-all').hide()
            // Prevents need for pressing "OK" then clicking "Submit"
            $(".MultiControls > p.btnOk").on("click",()=>{
                $('.dashboard-btn').click()
            })
        })
    </script>
{% endblock %}

{% block filters %}
    {% if filters %}
        <h1>Performance activity for {{ title }}</h1>
        <form action="" method="get" class="form">
            <div class="filter-container">
                {{ filters.group.form.as_p }}
                {{ filters.unitnumber.form.as_p }}
                <button type="submit" class="btn dashboard-btn"
                        style="height: 33px; margin-top: 5.45px; margin-left: 10px">
                    Filter
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}
