{% extends 'dashboard/base-content-list.html' %}

{% block add-button %}
    <div class="dashboard-btn-bank">
        <button type="submit" class="btn dashboard-btn" onclick="location.href='{% url 'dashboard:add-course' %}'">
            New Course
        </button>
        <button type="submit" class="btn dashboard-btn"
                onclick="location.href='{% url 'dashboard:export-courses' %}'">
            Export
        </button>
        <button type="submit" class="btn dashboard-btn"
                onclick="location.href='{% url 'dashboard:import-courses' %}'">
            Import
        </button>
    </div>
{% endblock %}
