{% extends "dashboard/base-content-list.html" %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/sumoselect.css" type="text/css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/lib/jquery.sumoselect.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#id_groups').SumoSelect(
                {
                    'placeholder': 'Select Group(s)',
                    'selectAll': true,
                    'search': true,
                    'okCancelInMulti': true
                });
        })
        $(document).ready(()=>{
            // This disables the "Select All" button on the filter, remove this code to bring it back
            $('p.select-all').hide()
        })
    </script>
{% endblock %}

{% block filters %}
    {% if filters %}
    <h1>Performance activity<br>for {{ title }}</h1>
        <div class="row" style="padding: 0; margin: 0">
            <form action="" method="get" class="form form-inline">
                {{ filters.form.as_p }}
                <button type="submit" class="btn dashboard-btn"
                        style="height: 33px; margin-top: 5.45px; margin-left: 10px">
                    Filter
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}
