{% extends 'dashboard/content.html' %}
{% block extra_buttons %}
    {% with form.instance.get_previous_authored_exercise as previous %}
        {% if not previous == None %}
            <button type="submit" class="btn dashboard-btn" name="save-and-edit-previous">← Save</button>
        {% endif %}
    {% endwith %}
    {% with form.instance.get_next_authored_exercise as next %}
        {% if not next == None %}
            <button type="submit" class="btn dashboard-btn" name="save-and-edit-next">Save →</button>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block js_extra %}
    <script>
        $('ul > li').css('display', 'table');
    </script>
{% endblock %}
