{% extends 'dashboard/base-content-list.html' %}

{% block add-button-exercises %}
    <div class="dashboard-btn-bank">
        <button type="submit" class="btn dashboard-btn"
                onclick="location.href='{% url 'dashboard:export-exercises' %}'">
            Export
        </button>
        <button type="submit" class="btn dashboard-btn"
                onclick="location.href='{% url 'dashboard:import-exercises' %}'">
            Import
        </button>
        <p>For guidance on creating a new exercise, see the bottom of this page.</p>
    </div>
{% endblock %}
