{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}
<div class="dashboard-page">
<h1 margin-top="20px">Dashboard Home</h1>
<div class="column-container">
    <div class="nav-column">
        <h2>Connect</h2>
        <div class="link-container">
            <div class="nav-link">
                <a href={% url 'dashboard:connections' %}> Connect with Other Users </a>
                <span>Connect with other users to share content</span>
            </div>
            <div class="nav-link">
                <a href={% url 'dashboard:groups-list' %}> Manage User Groups </a>
                <span>Organize other users into groups</span>
            </div>
        </div>
    </div>
    <div class="nav-column">
        <h2>Practice</h2>
        <div class="link-container">
            <div class="nav-link">
                <a href={% url 'dashboard:preferences' %}> Settings </a>
                <span>Customize how the app looks and behaves when you perform playlists</span>
            </div>
            <div class="nav-link">
                <a href={% url 'dashboard:performed-playlists'%} > Performance History </a>
                <span>View your performance history</span>
            </div>
            <div class="nav-link">
                <a href={% url 'dashboard:subscriptions-courses' %}> Available Courses </a>
                <span>Browse courses by users to whom you are connected</span>
            </div>
        </div>
    </div>
    <div class="nav-column">
        <h2>Create</h2>
        <div class="link-container">
            <div class="nav-link">
                <a href={% url 'dashboard:exercises-list' %}> Exercises </a>
                <span>Create and edit exercises</span>
            </div>
            <div class="nav-link">
                <a href={% url 'dashboard:playlists-list' %}> Playlists </a>
                <span>Create and edit playlists</span>
            </div>
            <div class="nav-link">
                <a href={% url 'dashboard:courses-list'%} > Courses</a>
                <span>Create and edit courses, and see the progress of other users</span>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
