
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div>
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for option in widget.options %}
    <option> {{ option }}</option>
    {% endfor %}
  </select>
  <div id="values">
    {% for value in widget.value %}
    <div> {{ value }}</div>
    {% endfor %}
  </div>
</div>
<script>
    var el = document.getElementById('values');
    var sortable = Sortable.create(el);
</script>