{% extends 'dashboard/base-content-list.html' %}

{% block add-button-playlists %}
    <div class="dashboard-btn-bank">
        
        <button type="submit" class="btn dashboard-btn" onclick="location.href='{% url 'dashboard:add-playlist' %}'">
            New Playlist
        </button>
        <button type="submit" class="btn dashboard-btn"
                onclick="location.href='{% url 'dashboard:export-playlists' %}'">
            Export*
        </button>
        <form action="" method="get" class="form">
            <div class="filter-container">
            {{ filters.id.form.as_p }}
            
                <button type="submit" class="btn dashboard-btn"
                        style="height: 33px; margin-top: 5.45px; margin-left: 10px">
                    Filter
                </button>
            </div>
        </form>

        <p>*Importing of playlist backups is not yet supported. If you want to keep a local backup of your playlists regardless, export your exercises at the same time as you export your playlists.</p>
    </div>
{% endblock %}
