{% extends 'dashboard/base-content-list.html' %}

{% block content %}
    <div class="dashboard-page">
        <h1>Connect with Performers</h1>
        <p class="dashboard-tip">Allow other users to access your content and see their progress on that content. Type their email adddress and click Add. You must wait for them to accept the connection; then you can see their activity in your courses.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'dashboard/bs4_form.html' with form=form %}
            <button type="submit" class="btn dashboard-btn" style="">
                Add
            </button>
        </form>
    </div>
    <div class="dashboard-page">
        {% include 'django_tables2/bootstrap4.html' with table=table %}
    </div>
{% endblock content %}
