{% extends 'dashboard/base-content-list.html' %}

{% block content %}
    <div class="dashboard-page">
        <p>Subscribe to other users in order to access their content and let them review your progress on content that they created.<br>Your subscription will appear below once approved by the other user.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'dashboard/bs4_form.html' with form=form %}
            <button type="submit" class="btn dashboard-btn" style="">
                Add
            </button>
        </form>
    </div>
    <div>
        {% include 'django_tables2/bootstrap4.html' with table=table %}
    </div>
{% endblock content %}
