{% extends 'dashboard/base-content-list.html' %}

{% block content %}
    <div class="dashboard-page">
        <h1>Connect with Creators</h1>
        <p class="dashboard-tip">Access other users’ content and allow them to see your progress on that content. Type their email adddress and click Add. You must wait for them to accept the connection; then you can see their courses via Available Courses.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'dashboard/bs4_form.html' with form=form %}
            <button type="submit" class="btn dashboard-btn" style="">
                Add
            </button>
        </form>
    </div>

    <div class="dashboard-page">
        {% include 'django_tables2/bootstrap4.html' with table=table %}
    </div>

{% endblock content %}
