<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ STATIC_URL }}css/ionicons-needed.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/harmony.css" type="text/css" rel="stylesheet" />
    {% block css_extra %}{% endblock %}
</head>
<body>
	
{% block content %}{% endblock %}

{% block js_require %}

{% autoescape off %}
<script src="{{ STATIC_URL }}js/lib/require.js"></script>
<script>requirejs.config({{ requirejs.config_json }});</script>
<script>window.appStaticUrl = '{{ STATIC_URL }}';</script>
<script>
	function getPerformer() {
		var sPageURL = window.location.search.substring(1);
		var sURLVariables = sPageURL.split('&');
		for (var i = 0; i < sURLVariables.length; i++) {
		    var sParameterName = sURLVariables[i].split('=');
		    if(sParameterName[0] == 'performer') {
		    	sessionStorage.setItem('HarmonyLabPerformer', sParameterName[1]);
		        return 'performer: ' + sParameterName[1] + '';
		    }
		}
		if(sessionStorage.getItem('HarmonyLabPerformer')) {
			return 'performer: ' + sessionStorage.getItem('HarmonyLabPerformer') + '';
		}
		return "";
	};
</script>
{% if requirejs.debug %}<script>requirejs.config({'urlArgs': 't='+(new Date().getTime())});</script>{% endif %}
{% endautoescape %}

{% endblock %}

{% block js_extra %}{% endblock %}

<script>
	performerName.append(getPerformer());	
</script>

<!-- {% include "_googleanalytics.html" %} -->
</body>
</html>
