<div id="header" class="header">
    <ul>
        {% block header_extra %}{% endblock %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'custom-logout' %}">LOGOUT</a></li>
        {% else %}
            <li><a href="{% url 'custom-login' %}">LOGIN</a></li>
            <li><a href="{% url 'registration' %}">REGISTER</a></li>
        {% endif %}
        <li><a href="https://webmidi.info" target="_blank">WebMIDI support?</a></li>
    </ul>
    <ul class="header-second-row">
        <!-- <li id="notificationAlerts" class="notificationAlerts"></li> -->
        <li style="padding-right:0.25em"><button id="audio-context" onclick="getElementById('audio-context').innerHTML = 'Audio On'">Enable Audio</button></li>
        <li><button id="all-notes-off" >All Notes Off</button></li>
        {% if user.is_authenticated %}
            <li>Logged in as: {{ user.email }}<li>
        {% endif %}
    </ul>

</div>

<!-- <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;">
	<form id="exerciseReport">
		<input id="reportPerformer" name="performer" type="text" value="Student" />
	</form>
</iframe> -->
