<div id="header" class="header">
    <ul>
        {% block header_extra %}{% endblock %}
        <!-- <li id="performerName"></li> -->
        {% if user.is_authenticated %}
            <li><a href="{% url 'custom-logout' %}">LOGOUT</a></li>
        {% else %}
            <li><a href="{% url 'custom-login' %}">LOGIN</a></li>
            <li><a href="{% url 'registration' %}">REGISTER</a></li>
        {% endif %}
        <li><a href="https://webmidi.info" target="_blank">WebMIDI support?</a></li>
        <!-- <li id="notificationAlerts" class="notificationAlerts"></li> -->
    </ul>
    {% if user.is_authenticated %}
        <p>
            Logged in as: {{ user.email }}
        </p>
    {% endif %}

</div>

<!-- <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;">
	<form id="exerciseReport">
		<input id="reportPerformer" name="performer" type="text" value="Student" />
	</form>
</iframe> -->
