<div id="header" class="header">

    <ul>
        {% if user.is_authenticated %}
            <li>
                {{ user.email }} • 
                <a href="{% url 'custom-logout' %}">Log Out</a>
            </li>
            <li><a href={% url 'dashboard:performed-playlists'%}>Dashboard</a></li>
        {% else %}
            <li><a href="{% url 'custom-login' %}">LOGIN</a></li>
            <li><a href="{% url 'registration' %}">REGISTER</a></li>
        {% endif %}
        <!-- <li id="notificationAlerts" class="notificationAlerts"></li> -->
        <li><a href="{% if home_url %}{{ home_url }}{% else %}{% url 'lab:index' %}{% endif %}">New Play View</a></li>
        {% if user.is_staff %}
            <li><a href={% url 'admin:index'%} target="_blank">ADMIN</a></li>
        {% endif %}
        <li class="audio-controls"><button id="Mute" style="min-width:68px">Mute</button></li>
        <li class="audio-controls"><button id="volume" style="min-width:37px;font-weight:bold">mf</button></li>
        <li class="audio-controls"><button id="audio-context" style="min-width:107px" onclick="getElementById('audio-context').innerHTML = 'Audio Enabled'">Enable Audio </button></li>
        <!-- <li><button id="all-notes-off" >All Notes Off</button></li> -->
        {% if user.is_authenticated %}
        {% else %}
            <li style="float:right;padding:0px"><a href="https://webmidi.info" target="_blank">WebMIDI support?</a></li>
        {% endif %}
    </ul>
    <ul class="header-second-row js-play-view-controls">
        {% block header_extra %}{% endblock %}
    </ul>

</div>
