{% extends "_menu.html" %}
{% block menu_content %}
<div id="display-settings">
    <!--Notation-->
    <div class="mainmenu-section">
        <div class="js-notation-opts-widget"></div>
    </div>

    <!--Instrument-->
    <div class="mainmenu-section">
        <!-- <div class="js-instrument settings-inline"></div> -->
        <div class="js-keyboardsize settings-inline"></div>
        <div class="js-octaveadjustment settings-inline"></div>
        <div class="js-keyboardshortcuts settings-inline"></div>
    </div>

    <!--MIDI Source-->
    <!-- <div class="mainmenu-section">
        <div class="label settings-inline">MIDI in: </div>
        <select class="js-select-midi-input settings-inline" name="select_midi_input"></select>
        <div class="label settings-inline">MIDI out: </div>
        <select class="js-select-midi-output settings-inline" name="select_midi_output"></select>&emsp;
        <button class="js-refresh-midi-devices settings-inline">Refresh MIDI options</button>
    </div> -->

</div>
{% endblock %}
