{% extends "__base.html" %}

{% block content  %}
<div class="list-group">
  <a href="http://127.0.0.1:8000/lab/courses/1/course" class="list-group-item list-group-item-action active">
    Course 1</a>
  <a href="http://127.0.0.1:8000/lab/courses/2/course" class="list-group-item list-group-item-action">Course 2</a>
  <a href="http://127.0.0.1:8000/lab/courses/3/course" class="list-group-item list-group-item-action">Course 3</a>
  <a href="http://127.0.0.1:8000/lab/courses/4/course" class="list-group-item list-group-item-action">Course 4</a>
  <a href="http://127.0.0.1:8000/lab/courses/5/course" class="list-group-item list-group-item-action disabled">Course 5</a>
</div>

{% endblock %}