{% extends "__base.html" %}

{% block js_extra %}
    <script>require(['app/main']);</script>
    <script>
        window.addEventListener('load', function () {
            setTimeout(() => {
                let introLinks = document.querySelectorAll("#exercise-text a");
                for (let i = 0, len = introLinks.length; i < len; i++) {
                    introLinks[i].style.textDecoration = "underline";
                }
            }, 100)
        }, false);
    </script>
{% endblock %}

{% block content %}
<div id="container" class="js-fade-in fade" style="opacity: 0;">
	{% include "_header_music.html" %}
	{% include "_menu_music.html" %}
	{% include "_menu_piano.html" %}
	{% include "_notifications.html" %}
	<div class="harmony-ui">
		<div id="staff-area" class="content-area">
			<div id="staff-toolbar">
				<a class="icon-btn icon-btn-right icon-btn-camera js-btn-screenshot" href="#" target="_blank" title="Screenshot &ndash; works in some browsers"  alt="Screenshot"> </a>
				<a class="next-icon js-btn-nextexercise" title="Advance to next exercise" alt="Load next exercise"> </a>
				<a class="refresh-icon js-btn-pristine" title="Refresh current exercise" alt="Refresh current exercise"> </a>
				<a class="previous-icon js-btn-previousexercise" title="Go back to previous exercise" alt="Load previous exercise"> </a>
				<a class="startover-icon js-btn-firstexercise" title="Start the playlist over again" alt="Start the playlist over again"> </a>
			</div>
			<div id="staffwrapper">
				
				<canvas id="staff"></canvas>
			</div>
			<div>
				
				<div id="instruction-panel">
					
					<div class="instruction-panel">
						<h4 style="margin-bottom:6px">{% if playlist_name %}{{playlist_name}} // {% else %}{% endif %}{% if course_name %}{{course_name}}{% else %}PREVIEW</br><span style="font-weight:normal">No performance data will be saved</span>{% endif %}</h4>
						<div class="playlist-nav-links" style="display:none">
							<div>{% if course_link %}<a href="{{course_link}}"> Return to Course </a>{% endif %}</div>
							<div>{% if next_playlist_link %}<a href="{{next_playlist_link}}">Next Playlist</a>{% endif %}</div>
						</div>
						<div class="instruction-panel-col instruction-panel-col1">
							<div id="exercise-info"></div>
							<div id="exercise-status-and-tempo"></div>
						</div>
						<div class="instruction-panel-col instruction-panel-col2" id="exercise-text">
						</div>
						<div class="instruction-panel-col instruction-panel-col3">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="piano"></div>
	</div>
	{% include "_footer.html" %}
</div>
<div style="font-family: 'Sebastian'">&nbsp;<!-- make sure font is loaded  --></div>
<div style="font-family: 'MainSerifs'">&nbsp;<!-- make sure font is loaded  --></div>
<div style="font-family: 'JazzSerifs'">&nbsp;<!-- make sure font is loaded  --></div>
{% endblock %}
