{% extends "__base.html" %}

{% block js_extra %}
<script>require(['app/main']);</script>
{% endblock %}

{% block content %}
<div class="navbar" style="color:rgb(172, 165, 165)">
	<a href="/" >Lab</a>
	<a href="/courses">Course List</a>
	{% if user.is_authenticated %}
	<a href="/accounts/logout">Logout</a>
	{% else %}
	<a href="/accounts/login">Login</a>
	<a href="/register/">Register</a>
	{% endif %}
</div>
{% if user.is_authenticated %}
<p style="color:white;">Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
<p style="color:white;">Welcome, new user. Please log in.</p>
{% endif %}

<div id="container" class="js-fade-in fade" style="opacity: 0;">
	{% include "_header_music.html" %}
	{% include "_menu_music.html" %}
	{% include "_notifications.html" %}
	<div class="harmony-ui">
		<div id="staff-area" class="content-area">
			<div id="staff-toolbar">
				<a class="icon-btn icon-btn-right icon-btn-camera js-btn-screenshot" href="#" target="_blank" alt="Screenshot"> </a>
				<a class="save-icon js-btn-download-json" alt="Download JSON"> </a>
			</div>
			<div id="staffwrapper">
				<canvas id="staff"></canvas>
			</div>
		</div>
		<div id="piano"></div>
	</div>
    {% include "_footer.html" %}
</div>
<!-- <div class="js-fade-out" style="position:absolute;top:0;left:0;opacity:1;padding:1em;margin:0;color:#fff;background-color:rgba(0,0,0,0.5);font-family:sans-serif;font-size:2em">Loading ...</div> -->
<div style="font-family: 'Sebastian'">&nbsp;<!-- make sure font is loaded  --></div>
<div style="font-family: 'MainSerifs'">&nbsp;<!-- make sure font is loaded  --></div>
{% endblock %}
